@if (dataLoaded == false) {
<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
}

<div class="mb-3">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control mt-4"
    id="filterText"
    placeholder="Ürün Arama İfadesi Giriniz"
  />
</div>

@if (filterText) {
<div class="alert alert-success">{{ filterText }} aradınız...</div>
}

<table class="table mt-4">
  <thead>
    <tr>
      <!-- <th>ProductId</th> -->
      <th>ProductName</th>
      <th>CategoryId</th>
      <th>UsdUnitPrice</th>
      <th>VatPrice</th>
      <th>TlPrice</th>
      <th>UnitsInStock</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (product of products | filterPipe:filterText; track $index) {
    <tr>
      <!-- <td>{{ product.productId }}</td> -->
      <td>{{ product.productName }}</td>
      <td>{{ product.categoryId }}</td>
      <td class="bg-success text-white">{{ product.unitPrice | currency }}</td>
      <td class="bg-danger text-white">
        {{ product.unitPrice | vatAdded : 18 | currency }}
      </td>
      <td class="bg-secondary text-white">
        {{ product.unitPrice | tcmbUsdTl | currency : "₺" }}
      </td>
      <!--normal şartlarda backendden bu bilginin gelmesi lazım bizim sadece burda göstermemiz lazım.-->
      <td>{{ product.unitsInStock }}</td>
      <td>
        <button
          (click)="addToCart(product)"
          type="button"
          class="btn btn-success"
        >
          Sepete Ekle
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
