@if (dataLoaded == false) {
<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
}

<div class="mb-3">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control mt-4"
    id="filterText"
    placeholder="Ürün Arama İfadesi Giriniz"
  />
</div>

@if (filterText) {
<div class="alert alert-success">{{ filterText }} aradınız...</div>
}

<table class="table mt-4">
  <thead>
    <tr>
      <td>ProductId</td>
      <td>ProductName</td>
      <td>CategoryName</td>
      <td>UnitPrice</td>
      <td>VatPrice</td>
      <td>UnitsInStock</td>
    </tr>
  </thead>
  @for (product of products; track $index) {
  <tr>
    <td>{{ product.productId }}</td>
    <td>{{ product.productName }}</td>
    <td>{{ product.categoryId }}</td>
    <td>{{ product.unitPrice | currency }}</td>
    <td>{{ product.unitPrice | vatAdded : 18 | currency }}</td>
    <td>{{ product.unitsInStock }}</td>
  </tr>
  }
</table>
